@font-face {
    font-family: KlimaWeb;
    src: url(/stylesheets/vendor/fonts/klima/Klima-Regular.otf) format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: KlimaWeb;
    src: url(/stylesheets/vendor/fonts/klima/Klima-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: Drone Ranger;
  src: url(/fonts/DroneRanger01.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poster Sans;
  src: url(/fonts/PosterSans.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
